# Virtual environment
dev/venv/

# Python bytecode and cache
dev/__pycache__/
dev/*.pyc
dev/app/__pycache__/
dev/src/__pycache__/
dev/tests/__pycache__/
dev/tests/*.pyc

# Temporary audio files
dev/app/static/correction_*.mp3

# macOS system files
.DS_Store

# Other temporary files
*.log
*.tmp

