# Virtual environment
venv/
french_learning_web_app/venv/

# Python bytecode and cache
__pycache__/
*.pyc
french_learning_web_app/__pycache__/
french_learning_web_app/app/__pycache__/
french_learning_web_app/src/__pycache__/
french_learning_web_app/tests/__pycache__/
french_learning_web_app/tests/*.pyc

# Temporary audio files
french_learning_web_app/app/static/correction_*.mp3

# macOS system files
.DS_Store

# Other temporary files
*.log
*.tmp

# Environment variables
.env
